In [3]:
import pandas_datareader as dr
import pandas as pd

In [4]:
START_DATE = "2015-01-01"
END_DATE = "2021-11-20"
STOCK = "ATVI" # Activision Blizzard

In [5]:
# Getting the historical stock values
# from http://finance.yahoo.com/

dr.DataReader(STOCK, start=START_DATE, end=END_DATE, data_source="yahoo")

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-01-02  20.280001  19.990000  20.240000  20.129999   3233400.0  19.168922
2015-01-05  20.180000  19.780001  20.139999  19.850000   5008400.0  18.902290
2015-01-06  19.969999  19.360001  19.879999  19.480000   6387500.0  18.549953
2015-01-07  19.740000  18.860001  19.590000  19.059999  16560300.0  18.150007
2015-01-08  19.490000  19.139999  19.250000  19.250000  17656100.0  18.330936
...               ...        ...        ...        ...         ...        ...
2021-11-15  70.680000  68.139999  69.320000  70.430000  11628200.0  70.430000
2021-11-16  72.139999  65.459999  70.550003  66.139999  38243200.0  66.139999
2021-11-17  65.639999  63.500000  65.529999  64.199997  28771200.0  64.199997
2021-11-18  64.050003  60.900002  63.599998  62.669998  24241700.0  62.669998
2021-11-19  64.089996  62.169998  63.750000  62.380001  14485100.0  62.380001

[1735 rows x 6 columns]